<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="logback-synapse.xml"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] [%thread] [%logger{36}] [T:%X{session.uid}] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="com.sbt.synapse" level="info"/>
</configuration>